<div class="reportNav__wrapper sticker">
  <nav class="reportNav">
    <ul class="flexWrap">
      <li>
        <a href="{{ site.baseurl }}/report/introduction/">
          <span class="boldNumber">1</span>
          <span class="boldNumber__heading">Introduction<span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/report/strategic-plan-update/">
          <span class="boldNumber">2</span>
          <span class="boldNumber__heading">Strategic Plan Update<span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/report/open-data-timeline/">
          <span class="boldNumber">3</span>
          <span class="boldNumber__heading">NYC Open Data Timeline<span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/report/dataset-highlights/">
          <span class="boldNumber">4</span>
          <span class="boldNumber__heading">2021 Dataset Highlights<span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/report/by-the-numbers/">
          <span class="boldNumber">5</span>
          <span class="boldNumber__heading">Open Data By The Numbers<span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/report/compliance-plan/">
          <span class="boldNumber">6</span>
          <span class="boldNumber__heading">2021 Compliance Plan<span>
        </a>
      </li>
    </ul>
  </nav>
</div>
