---
layout: report
---

<div class="wrapper">
  <br>
  <h1>NYC Open Data Timeline</h1>

  <p>As we reflect on the past year, we also look back to the past dozen. Here are some of the highlights. If you have a suggestion for a notable event we've omitted, <a href="{{ site.baseurl }}/contact/">send us a note</a>!</p>

  <div class="timeline">
  <ul>
    <div class="timeline__section">
      <span class="timeline__section__heading">2009</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">NYC Data Mine Launched</span>
          NYC Data Mine, a precursor to NYC Open Data, launched to share more than 100 datasets from City agencies.
        </div>
      </li>
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2010</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Open Data Law Proposed</span>
          <a href="https://legistar.council.nyc.gov/ViewReport.ashx?M=R&N=Text&GID=61&ID=1090992&GUID=B1263195-66B9-48AD-A381-57584D623443&Title=Legislation+Text">Introduction 29A</a> to make NYC Open Data into law is proposed in the City Council.
        </div>
      </li>
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2011</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">NYC Open Data Created</span>
          The Data Mine is replaced by nyc.gov/opendata, designed to make open data easier to find and use, including the ability to run basic analysis without downloading any data and offering APIs for each dataset.
        </div>
      </li>
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2012</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">NYC Open Data Signed into Law</span>
          With the signing of <a href="http://legistar.council.nyc.gov/LegislationDetail.aspx?ID=649911&GUID=E650813B-B1E9-4E56-81BA-58261487DA4A">Local Law 11 of 2012</a> (from Introduction 29A) Open Data is a legal requirement for every City agency.
        </div>
      </li>
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2015</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Open Data For All</span>
          'Open Data for All' is the de Blasio administration's commitment to making NYC Open Data accessible to every New Yorker and increasing the engagement that Open Data has with the public.
        </div>
      </li>
       <li class="city">
        <div>
          <span class="timeline__activityTitle">Data Dictionary Requirement</span>
        Every dataset is legally required to have a data dictionary, explaining the nuances and operational context of the data in plain language
        </div>
      </li>
       <li class="city">
        <div>
          <span class="timeline__activityTitle">Geospatial Standards Requirement</span>
          Agencies are legally required to release standardize geospatial fields for each dataset that contains street addresses
        </div>
      </li>
      
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Data Request Process Requirement</span>
            Agencies are legally required to promptly respond to dataset requests with either a date when the dataset will be published or an explanation of why the dataset can’t be published
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Data Retention Requirement</span>
        NYC Open Data is legally required to preserve row data when datasets are updated or archived 
        </div>
      </li>
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2016</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">NYC Open Data Relaunch</span>
            The current version of the Open Data site launches with new tutorials, a dataset request tool, and a more robust help desk
        </div>
      </li>
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2017</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">First NYC Open Data Week Festival</span>
          Inaugural <a href="http://open-data.nyc/>NYC Open Data Week</a> festival created as a partnership between the NYC Open Data program and civic technology group <a href = "https://beta.nyc/">BetaNYC</a> to celebrate the free public resource and foster connections between people who use open data
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Publishing Mandate Extended</span>
          The requirement for agencies to share their public data is extended past its original 2018 deadline into perpetuity  
          </div>
      </li>   
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Open Data Coordinator Requirement</span>
          Every agency is legally required to have an Open Data Coordinator, responsible for identifying, structuring, documenting data
        </div>
      </li>   
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2018</span>
       <li class="city">
        <div>
          <span class="timeline__activityTitle">First Data Through Design art exhibition</span>
          Established by a group of volunteer artists and data visualization experts, the <a href="https://datathroughdesign.com/">Data Through Design</a> collective now organizes an annual data art exhibition featuring works that creatively analyze, interpret and interrogate data made available on NYC Open Data. 
        </div>
      </li>      
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Metadata for All project to improve data documentation</span>
          NYC Open Data partners with several community organizations to design the Metadata for All initiative. The purpose of the initiative was to assess the usability of metadata and data documentation, develop new standards for this information, and create resources for Open Data Coordinators to use. Some of the results of these efforts can be viewed on the <a href="https://opendata.cityofnewyork.us/open-data-coordinators/">Open Data Coordinator Resource Page</a>. 
        </div>
      </li>
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2019</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Data Counts! and Open Data Ambassadors</span>
        Pilot of Data Counts! initiative, a collaboration with BetaNYC and the Queens Public Library, which led to the creation of a cohort of volunteer “Open Data Ambassadors” teaching people from every community board in Queens about Open Data and the US Census.
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Co-designing the Future of NYC's Open Data Workshop</span>
        After an earlier public survey campaign to better recognize New Yorker’s information needs in all five boroughs, the Open Data Team convened a two-day co-design workshop where more than 60 participants addressed common challenges, surfaced opportunities, and helped prioritize key initiatives for the next decade of NYC Open Data. This work was compiled into the <a href="https://opendata.cityofnewyork.us/wp-content/uploads/2019/09/2019_OpenDataForAllReport.pdf">2019 Strategic Plan</a>.
          </div>
      </li>   
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Examination & Verification Final Report</span>
          NYC Open Data published a <a href="https://opendata.cityofnewyork.us/wp-content/uploads/2019/12/2019ExaminationVerificationReport.pdf">report</a> concluding its series of three annual examinations of City agencies, pursuant to Local Law 8 of 2016, Open Data Examination and Verification. The examinations were intended to improve agency compliance with the Open Data Law by creating a systematic way to locate datasets that may have been omitted in agencies’ self-reported Open Data compliance plans. This effort has since been used to inform the Open Data compliance reporting process.
        </div>
      </li>   
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2020</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Agency website data added to Annual Compliance Report</span>
          Bolstered annual Open Data compliance reporting to include a list of data that is published on each agency’s website, to ensure that more datasets are being identified and scheduled for publication onto NYC Open Data.
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">COVID Open Data</span>
          Working together with staff from across the City – including the Department of Health and Mental Hygiene, Department of Education, Department of Information Technology & Telecommunications, Department of Parks & Recreation, and Department of Transportation – the Open Data Team published datasets related to COVID-19 and the City’s response.
          </div>
      </li>   
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Open Data Coordinator Virtual Training</span>
          The Open Data Team conducted a comprehensive online training for Open Data Coordinators (ODCs). Prior to the live training, the Open Data Team worked with more experienced ODCs to prepare a suite of online training videos on different aspects of the ODC role and the annual compliance process.
        </div>
      </li>   
    </div>
    <div class="timeline__section">
    <span class="timeline__section__heading">2021</span>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Virtual NYC Open Data Week Festival</span>
          The first virtual-first <a href="https://https://www.open-data.nyc/">Open Data Week festival</a> featured more than 150 events and attracted more than 3,600 attendees
        </div>
      </li>
      <li class="city">
        <div>
          <span class="timeline__activityTitle">Revamped Open Data Dashboard Released</span>
          Beta version of the <a href="https://opendata.cityofnewyork.us/dashboard/">Open Data Dashboard</a> released, providing the same key metrics about NYC Open Data to the public, City agency Open Data Coordinators, and the NYC Open Data Team
          </div>
      </li>   
     </div>
  </ul>
</div>
  <p></p>
  <br>
  <button><a href="{{ site.baseurl }}/report/dataset-highlights/">Next:<br />4. 2021 Dataset Highlights</a></button>

</div>
