---
layout: report
---

<img class="featureImage" src="{{ site.baseurl }}/assets/img/NYCOD_2019_Workshop.jpg" alt="A photo of some of the participants from the Co-designing the Future of NYC's Open Data Workshop." />

<div class="wrapper">
  {% capture year-in-data %}{% include /content/strategic_plan_initiatives_intro.md %}{% endcapture %}
  {{ year-in-data | markdownify }}
</div>

<img class="userfeature" src="{{ site.baseurl }}/assets/img/ux.jpg" alt="Improve User Experience: Making it easier for all New Yorkers to request, find, understand, and use data" />

<div class="flexContent">
  {% capture year-in-data %}{% include /content/strategic_plan_initiatives_1.md %}{% endcapture %}
  {{ year-in-data | markdownify }}
</div>

<img class="userfeature" src="{{ site.baseurl }}/assets/img/capacity.jpg" alt="Strengthen City Capacity: Supporting City agencies and other publishers to NYC Open Data with better tools, more resources, clearer standards, and stronger connections with existing Open Data operations" />

<div class="flexContent">
  {% capture year-in-data %}{% include /content/strategic_plan_initiatives_2.md %}{% endcapture %}
  {{ year-in-data | markdownify }}
</div>

<img class="userfeature" src="{{ site.baseurl }}/assets/img/communities.jpg" alt="Build Communities: Supporting New Yorkers with tools and information to help them solve local problems, and amplifying the voices of people who find solutions using NYC Open Data." />

<div class="flexContent">
  {% capture year-in-data %}{% include /content/strategic_plan_initiatives_3.md %}{% endcapture %}
  {{ year-in-data | markdownify }}
</div>

<div class="wrapper">
  <button><a href="{{ site.baseurl }}/report/open-data-timeline/">Next:<br />3. NYC Open Data Timeline</a></button>
</div>
