---
layout: report
---

<div class="wrapper">
  <br>
  <h1>New Dataset Highlights</h1>

  {% capture intro %}{% include /content/4.0-dataset-intro.md %}{% endcapture %}
  {{ intro | markdownify }}

</div>

<figure class="userFeature">
  <img src="{{ site.baseurl }}/assets/img/OER_Soil.jpg" alt="A clean soil receiving site at the NY Hall of Science." />
  <figcaption>Photo: Mayor's Office of Environmental Remediation</figcaption>
</figure>

<div class="flexContentWrapper">
  <div class="flexSidebar__left metaContent">
    <div class="borderTop">
       <p><span class="light">Agency:</span><br />
        Mayor's Office of Environmental Remediation (MOER)
      </p>
      <p><span class="light">Dataset Link:</span><br />
        <a href="https://data.cityofnewyork.us/d/b4dv-8mq4">https://data.cityofnewyork.us/d/b4dv-8mq4</a>
      </p>
    </div>
  </div>

  <div class="flexContent">
    {% capture story1 %}{% include /content/4.1-dataset-highlight.md %}{% endcapture %}
    {{ story1 | markdownify }}
  </div>

  <div class="flexSidebar__right">

  </div>

</div>

<figure class="userFeature">
  <img src="{{ site.baseurl }}/assets/img/DOT_Signs.jpg" alt="A storage rack at DOT's Maspeth sign fabrication facility." />
  <figcaption>Photo: NYC Department of Transportation (DOT)</figcaption>
</figure>

<div class="flexContentWrapper">
  <div class="flexSidebar__left metaContent">
     <div class="borderTop">
      <p><span class="light">Agency:</span><br />
        Mayor's Office of Environmental Remediation (OER)
      </p>
      <p><span class="light">Dataset Link:</span><br />
        <a href="https://data.cityofnewyork.us/d/b4dv-8mq4">https://data.cityofnewyork.us/d/b4dv-8mq4</a>
      </p>
    </div>
  </div>

  <div class="flexContent">
    {% capture story2 %}{% include /content/4.2-dataset-highlight.md %}{% endcapture %}
    {{ story2 | markdownify }}
  </div>

  <div class="flexSidebar__right">
  </div>

</div>

<figure class="userFeature">
  <img src="{{ site.baseurl }}/assets/img/Ops_CommunityEthicMediaEO.jpg" alt="Mayor de Blasio signing Executive Order 47 of 2019 on Community and Ethnic Media" />
  <figcaption>Photo: Office of the Mayor</figcaption>
</figure>

<div class="flexContentWrapper">
  <div class="flexSidebar__left metaContent">
     <div class="borderTop">
      <p><span class="light">Agency:</span><br />
        Mayor's Office of Operations
      </p>
      <p><span class="light">Dataset Link:</span><br />
        <a href="https://data.cityofnewyork.us/d/gc4z-q69i">https://data.cityofnewyork.us/d/gc4z-q69i</a>
      </p>
    </div>
  </div>

  <div class="flexContent">
    {% capture story2 %}{% include /content/4.3-dataset-highlight.md %}{% endcapture %}
    {{ story2 | markdownify }}
  </div>

  <div class="flexSidebar__right">
  </div>

</div>

<figure class="userFeature">
  <img src="{{ site.baseurl }}/assets/img/DPR_Spray.jpg" alt="Spray showers at Crotona Park in the Bronx." class="center" />
  <figcaption>Photo: NYC Parks</figcaption>
</figure>

<div class="flexContentWrapper">
  <div class="flexSidebar__left metaContent">
     <div class="borderTop">
      <p><span class="light">Agency:</span><br />
        NYC Parks
      </p>
      <p><span class="light">Dataset Link:</span><br />
        <a href="https://data.cityofnewyork.us/d/h2bn-gu9k">https://data.cityofnewyork.us/d/h2bn-gu9k</a>
      </p>
    </div>
  </div>

  <div class="flexContent">
    {% capture story2 %}{% include /content/4.4-dataset-highlight.md %}{% endcapture %}
    {{ story2 | markdownify }}
  </div>

  <div class="flexSidebar__right">
  </div>

</div>

<div class="wrapper">

  <button><a href="{{ site.baseurl }}/report/by-the-numbers/">Next:<br />5. Open Data By The Numbers</a></button>

</div>
