---
layout: report
---

<div class="wrapper">
  <br>
  <h1>2021 Open Data Compliance Plan</h1>
  <p>The Open Data Law requires the publication of an annual Compliance Plan. The datasets below capture these reporting requirements and additional reporting required by the Open Data Team for 2021:
  <br>
  <a href="https://data.cityofnewyork.us/d/acdt-2zt9">2021 Open Data Plan: Future Releases</a><br>
  <a href="https://data.cityofnewyork.us/d/ywm2-wzzf">2021 Open Data Plan: Dataset Removals</a><br>
  <a href="https://data.cityofnewyork.us/d/ug3g-mdky">2021 Open Data Plan: Agency Website Data</a><br>
  <a href="https://data.cityofnewyork.us/d/rcf4-4vq6">2021 Open Data Plan: FOIL Metrics</a><br>
  <a href="https://data.cityofnewyork.us/d/ckva-rq3b">2021 Open Data Plan: Datasets Identified Through FOIL</a><br>
  <a href="https://data.cityofnewyork.us/d/5sbz-5u89">2021 Open Data Plan: Completed Civic Engagement Activities</a><br>
  <br>
  </p>
</div>
